# Directories for input data
data:
  root_dir: "/ess/scratch/scratch1/rachelgordon/zf_data_192_slices/zf_kspace"
  dataset_key: "kspace"
  split_file: "/gpfs/data/karczmar-lab/workspaces/rachelgordon/breastMRI-recon/ddei/data/data_split.json"
  val_split_ratio: 0.2
  height: 320
  width: 320
  timeframes: 36
  total_spokes: 288
  samples: 640
  coils: 16
  eval_timeframes: 36
  eval_spokes: 8
  spf_aug: false
  weight_accelerations: false
  fpg: 16
  train_spokes_per_frame: 8
  slices: 192
  slices_to_eval: 1
  eval_frequency: 5

# Experiment settings
experiment:
  output_dir: "output"

# DataLoader settings
dataloader:
  batch_size: 1
  shuffle: true
  num_workers: 2
  max_subjects: 300
  num_random_slices: 1
  slice_idx: 41
  slice_range_start: None
  slice_range_end: None

# Model settings
model:
  name: "LSFPNet"
  num_layers: 3
  cascades: 2
  channels: 16
  style_dim: 128
  svd_mode: "detached_uv"
  use_lowk_dc: false
  lowk_frac: 0.125
  lowk_alpha: 1.0
  film_bounded: true
  film_gain: 0.10
  film_identity_init: true
  film_L: true
  svd_noise_std: 0.001
  lambda_L: 0.0025
  lambda_S: 0.05
  lambda_spatial_L: 0.05
  lambda_spatial_S: 0.05
  gamma: 0.5
  lambda_step: 0.1
  encode_acceleration: true
  encode_time_index: true
  optimizer:
    name: "Adam"
    lr: 0.0005
    weight_decay: 0.0
    b1: 0.9
    b2: 0.999
    eps: 0.000000001
  losses:
    adj_loss:
      weight: 1
    use_ei_loss: true
    mc_loss:
      weight: 10
      metric: "MAE"
    ei_loss:
      metric: "MSE"
      temporal_transform: "warp_subsample"
      spatial_transform: "all"
      rotate_range: 20
      weight: 10000
      warmup: 25
      duration: 200
      subsample_ratio_min: 0.7
      subsample_ratio_max: 0.95
      warp_ratio_min: 0.6
      warp_ratio_max: 0.95
  norm: "both"


# Training settings
training:
  epochs: 200
  save_interval: 1
  plot_interval: 20
  device: "cuda"  # or "cpu"
  multigpu: True
  curriculum_learning:
    enabled: False
    phases:
      - name: "Phase 1: Moderate Accelerations"
        start_epoch: 1
        train_spokes_range: [16, 24, 36]
        eval_spokes_per_frame: 16       # Validate on the highest acceleration in this phase
        eval_num_frames: 18 # (16 * 18 = 288 total spokes, assuming a fixed total spoke budget)
      - name: "Phase 2: Higher Accelerations"
        start_epoch: 2
        train_spokes_range: [8, 16, 24, 36] # Introduces 8 spokes/frame
        eval_spokes_per_frame: 8
        eval_num_frames: 36 # (8 * 36 = 288 total spokes)
      - name: "Phase 3: Ultra-High Accelerations"
        start_epoch: 3
        train_spokes_range: [2, 4, 8, 16, 24, 36] # Introduces 2 and 4 spokes/frame
        eval_spokes_per_frame: 2
        eval_num_frames: 144 # (2 * 144 = 288 total spokes)

evaluation:
  num_samples: 15
  simulated_dataset_path: "/ess/scratch/scratch1/rachelgordon/dro_dataset"
  chunk_size: 16
  chunk_overlap: 8

debugging:
  calc_step_0: True
  enable_gradient_monitoring: true
  monitoring_interval: 5