# Directories for input data
data:
  root_dir: "/ess/scratch/scratch1/rachelgordon/dce-8tf/binned_kspace"
  dataset_key: "ktspace"
  split_file: "/gpfs/data/karczmar-lab/workspaces/rachelgordon/breastMRI-recon/ddei/data/data_split.json"
  val_split_ratio: 0.2
  height: 320
  width: 320
  timeframes: 8
  total_spokes: 288
  samples: 640
  coils: 16
  eval_timeframes: 22
  eval_spokes: 2
  spf_aug: true
  fpg: 16

# Experiment settings
experiment:
  output_dir: "output"

# DataLoader settings
dataloader:
  batch_size: 1
  shuffle: false
  num_workers: 2
  max_subjects: 300
  num_random_slices: 1
  slice_idx: 41
  slice_range_start: None
  slice_range_end: None

# Model settings
model:
  name: "LSFPNet"
  num_layers: 3
  cascades: 2
  channels: 16
  lambda_L: 0.0025
  lambda_S: 0.05
  lambda_spatial_L: 0.05
  lambda_spatial_S: 0.05
  gamma: 0.5
  lambda_step: 0.1
  encode_acceleration: true
  optimizer:
    name: "Adam"
    lr: 0.0005
    weight_decay: 0.0
    b1: 0.9
    b2: 0.999
    eps: 0.000000001
  losses:
    adj_loss:
      weight: 50000
    use_ei_loss: true
    mc_loss:
      weight: 1
      metric: "MAE"
    ei_loss:
      temporal_transform: "warp"
      spatial_transform: "none"
      weight: 1
      warmup: 6
      duration: 50
      subsample_ratio_min: 0.7
      subsample_ratio_max: 0.95
      warp_ratio_min: 0.6
      warp_ratio_max: 0.95
  norm: "both"


# Training settings
training:
  epochs: 30
  save_interval: 1
  plot_interval: 20
  device: "cuda"  # or "cpu"

evaluation:
  num_samples: 15
  simulated_dataset_path: "/ess/scratch/scratch1/rachelgordon/simulated_dataset/"

debugging:
  calc_step_0: true
  enable_gradient_monitoring: true
  monitoring_interval: 5